.main{
    background-image: url("yosemite.jpg");
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center top;
    background-attachment: fixed;
    padding-bottom:50px;
    padding-top: 10px;
}

.title{
    font-weight: bold;
    font-size: 25px;
    text-decoration: underline;
    text-align: center;
}

/*USER LIST*/
.user_content{
    margin: 50px;
    margin-top: 5px;
    padding: 10px;
    width: 20%;
    margin-left: 11.5%;
    overflow:auto;
    background-color: transparent;
}

.userlist_title{
    font-weight: bold;
    font-size: 25px;
    text-decoration: underline;
    text-align: center;
    background-color:white;
    border: 2px solid black;
}

.userlist{
    margin: 10px;
    background-color:white;
    border: 2px solid black;
}

/*POST LIST*/
.title_box{
    background-color:white;
    border: 2px solid black;
}

.post_content{
    margin: 50px;
    margin-bottom:5px;
    padding: 10px;
    width: 35%;
    overflow:auto;
    background-color: transparent;
}

.posts{
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    background-color:white;
}

.postlist{
    margin: 10px;
}

.how_to_post{
    font-size: 15px;
    font-style: italic;
    text-align: center;
}

.link_button{
    text-align:right;
}

.category{
    text-decoration: underline;
    font-weight: bold;
}

.db_info{
    padding-left: 10px;
}