.postpage {
   
}

/* NAMES */
.route-climber-names {
    padding: 20px;
    margin: auto;
   
}

.route {
    
    float: left;
    width: 40%;
    border: 2px solid black;
    font-size: 35px;
    margin: 10px;
}

.climber {
    
    float: right;
    text-align: right;
    width: 40%;
    border: 2px solid black;
    font-size: 35px;
    margin: 10px;
}

/*PIC and MAP*/

.pic-map{
    padding: 20px;
    margin: auto;
}

.pic {
    background-color:lightgreen;
    float: left;
    width: 48%;
    height: 350px;
    border: 2px solid black;
}

.map {
    background-color:lightgreen;
    float: right;
    width: 48%;
    height: 350px;
    border: 2px solid black;
}

/*DIFF-STAR-COMMDIFF*/

.diff-star-comm_diff{
    padding: 25px;
    margin: auto;
}

.diff{
    
    float: left;
    width: 28%;
    border: 2px solid black;
    font-size: 25px;
    margin: 20px;
}

.star{
    
    float: left;
    width: 28%;
    border: 2px solid black;
    font-size: 25px;
    margin: 20px;
}

.comm_diff{
    
    float: left;
    width: 28%;
    border: 2px solid black;
    font-size: 25px;
    margin: 20px;
}

/* Bottom text boxes*/
.text-boxes {
    margin: auto;
    margin-top: 30%;
    padding: 20px;

}

.description {
    width: 95%;
    border: 2px solid black;
    font-size: 25px;
    margin-bottom: 30px;
   
}

.location {
    width: 95%;
    border: 2px solid black;
    font-size: 25px;
    margin-bottom: 30px;
   
}

.comments {
    width: 95%;
    border: 2px solid black;
    font-size: 25px;
    margin-bottom: 30px;
    
}