.postpage{
    background-image: url("yosemite.jpg");
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center top;
    background-attachment: fixed;
    padding-top: 10px;
}

/* NAMES */
.route-climber-names {
    padding: 20px;
    margin: 10px;
    overflow:auto;
}

.route {
    float: left;
    width: 40%;
    border: 2px solid black;
    font-size: 35px;
    margin: 10px;
    overflow:auto;
    text-align: center;
    text-decoration: underline;
    background-color: white;  
}

.climber {
    
    float: right;
    text-align: left;
    width: 40%;
    border: 2px solid black;
    font-size: 35px;
    margin: 10px;
    overflow:auto;
    text-align: center;
    text-decoration: underline;
    background-color: white;
}

/*PIC and MAP*/

.pic-map{
    padding: 20px;
    float:center;
    width: 96%;
    overflow:auto;
}

.pic {
    float: left;
    width: 45%;
    height: 350px;
    overflow:auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 100%;
    max-height: 99%;
    
    
}
.map {
    /*background-color:lightgreen;*/
    float: left;
    position: relative;
    /*max-width: 100%;
    height: auto;
    border: 2px solid black;*/
    width: 50%;
    height: 350px;
    border: 2px solid black;
   
}

/*DIFF-STAR-COMMDIFF*/

.diff-star-comm_diff{
    padding: 25px;
    margin: auto;
    overflow:auto;
}

.diff{
    
    float: left;
    width: 28%;
    border: 2px solid black;
    font-size: 25px;
    margin: 20px;
    overflow:auto;
    padding: 5px;
    background-color: white;
}

.star{
    
    float: left;
    width: 28%;
    border: 2px solid black;
    font-size: 25px;
    margin: 20px;
    overflow:auto;
    padding: 5px;
    background-color: white;
}

.comm_diff{
    
    float: left;
    width: 28%;
    border: 2px solid black;
    font-size: 25px;
    margin: 20px;
    overflow:auto;
    padding: 5px;
    background-color: white;
}

.dsc_content{
    font-size: 20px;
    margin: 10px;
    overflow:auto;
    text-align: center;
    font-weight: bold;
}

/* Bottom text boxes*/
.text-boxes {
    margin: auto;
    padding: 20px;
    overflow:auto;

}

.description {
    width: 95%;
    border: 2px solid black;
    font-size: 25px;
    margin-bottom: 30px;
    overflow:auto;
    padding: 5px;
    background-color: white;
   
}

.underline_titles {
    text-decoration: underline;
    font-size:25px;
}

.location {
    width: 95%;
    border: 2px solid black;
    font-size: 25px;
    margin-bottom: 30px;
    overflow:auto;
    padding: 5px;
    background-color: white;
   
}
/*
.comments {
    width: 95%;
    border: 2px solid black;
    font-size: 25px;
    margin-bottom: 30px;
    overflow:auto;
    padding: 5px;
    background-color: white;
}
*/
.textbox_content{
    font-size: 15px;
    margin: 17px;
    overflow:auto;
}


/* Comments Box */

.comment_box {
    background-image: url("yosemite.jpg");
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center top;
    background-attachment: fixed;
    padding-left:20px;
    
}

.comments {
    width: 93.5%;
    /*border: 2px solid black;
    */
    font-size: 25px;
    overflow:auto;
    padding: 5px;
    background-color: transparent;
}

.comment_title {
    background-color:white;
    border: 2px solid black;
    display: inline-block;
    text-decoration: underline;
    padding: 8px;
    text-align: center;
    margin-left: 44%;
    font-size: 25px;
}

.comment_text {
    overflow-wrap: break-word;
    border: 2px solid black;
    margin-bottom: 15px;
    padding: 8px;
    background-color:white;
}

/* Submit Comments */

.new_comment_box {
    background-image: url("yosemite.jpg");
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center top;
    background-attachment: fixed;
    padding-left:20px;
}

.new_comment_wrapper {
    background-color: transparent;
}

.new_comment_title {
    background-color:white;
    border: 2px solid black;
    display: inline-block;
    text-decoration: underline;
    padding: 5px;
    text-align: center;
    margin-left: 1%;
    font-weight: bold;
}


.comment_textarea {
    padding: 3px;
    padding-left: 20px;
}

.comment_author {
    font-weight: bold;
}