

/* NAMES */
.route-climber-names {
    padding: 20px;
    margin: 10px;
    overflow:auto;
   
}

.route {
    
    float: left;
    width: 40%;
    border: 2px solid black;
    font-size: 35px;
    margin: 10px;
    overflow:auto;
}

.climber {
    
    float: right;
    text-align: left;
    width: 40%;
    border: 2px solid black;
    font-size: 35px;
    margin: 10px;
    overflow:auto;
}

/*PIC and MAP*/

.pic-map{
    padding: 20px;
    margin: auto;
    width: 100vw;
    overflow:auto;
}

.pic {
    background-color:lightgreen;
    float: left;
    width: 48%;
    height: 350px;
    border: 2px solid black;
    overflow:auto;
}

.map {
    /*background-color:lightgreen;*/
    float: left;
    position: relative;
    /*max-width: 100%;
    height: auto;
    border: 2px solid black;*/
    width: 50%;
    height: 350px;
    border: 2px solid black;
   
}

/*DIFF-STAR-COMMDIFF*/

.diff-star-comm_diff{
    padding: 25px;
    margin: auto;
    overflow:auto;
}

.diff{
    
    float: left;
    width: 28%;
    border: 2px solid black;
    font-size: 25px;
    margin: 20px;
    overflow:auto;
}

.star{
    
    float: left;
    width: 28%;
    border: 2px solid black;
    font-size: 25px;
    margin: 20px;
    overflow:auto;
}

.comm_diff{
    
    float: left;
    width: 28%;
    border: 2px solid black;
    font-size: 25px;
    margin: 20px;
    overflow:auto;
}

/* Bottom text boxes*/
.text-boxes {
    margin: auto;
    padding: 20px;
    overflow:auto;

}

.description {
    width: 95%;
    border: 2px solid black;
    font-size: 25px;
    margin-bottom: 30px;
    overflow:auto;
   
}

.location {
    width: 95%;
    border: 2px solid black;
    font-size: 25px;
    margin-bottom: 30px;
    overflow:auto;
   
}

.comments {
    width: 95%;
    border: 2px solid black;
    font-size: 25px;
    margin-bottom: 30px;
    overflow:auto;
}